# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
pubspec_overrides.yaml

# IDE / editor
.idea/
.vscode/
*.iml

# Logs
*.log
web_build_stdout.log
web_build_stderr.log

# Android
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/.symlinks/
macos/Pods/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux
linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.cmake

# Windows
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake

# Misc
.DS_Store
Thumbs.db
local_preview/
